body{
    max-width: 100vw;
    overflow-x: hidden;
}
.head1{
    background-color: rgb(15, 15, 80);
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}
.head1a{
    color: white;
    margin-left: 30rem;
}
.head1a a{
    color: white;
}
.head2{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.motherdiv{
    display: flex;
    align-items: center;
}
.head2b{
    /* margin-right: 10rem; */
}
.navlinks  a{
    /* margin-left: 1rem; */
    gap: 1rem;
    color: grey;
    text-decoration: none;
}
.btn1{
    background-color: transparent;
    border: transparent;
    border-radius: 0.5rem;
    padding: 8px 13px;
    font-size: 1rem;
    box-shadow: 0 16px 40px 0 rgba(30,30,60,0.28);
}
.btn2{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.btn3{
    background-color: black;
    color: white;
    
    border-radius: 32px;
}
.btn4{
    background-color: rgb(239, 243, 243);
    border-radius: 0.5rem;
    border-color: transparent;
}
.cont1btn{
    display: flex;
    border: 1px solid white;
    align-items: center;
    margin-top: 4rem;
    margin-left: 30rem;
    background-color: rgb(239, 243, 243);
    max-width: max-content;
    padding: 2px;
    border-radius: 32px;
}
.h2a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
}
.pa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.images1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image2, img{
    margin-right: 3rem;
}
.head2b{
    font-size: 4rem;
    display: flex;
    align-items: center;
}
.pb{
    display: flex;
    align-items: center;
    color: grey;
    font-size: 1.2rem;
}
.maincard1{
    border: 2px solid rgb(168, 166, 166);
    border-radius: 1rem;
}
.maincardfirst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.carda{
    color: grey;
}
.carda:hover{
    color: black;
}
.cont3{
    padding-left: 8rem;
}

.headmedia{
    display: none;
}
.imagesgraphic{
    padding-left: 2rem;
}
.maincardthird{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}
.cont4btextandimg{
    display: flex;
    border: 2px solid rgb(212, 206, 206);
    padding-left: 2rem;
    justify-content: space-between;
}
.img4cflex{
    display: flex;
    padding-top: 1rem;
}
.img4cblock{
    display: block;
}
.cont4first{
    padding-left: 8rem;
}
.cont4second{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
}
.cont5imgone{
    display: flex;
}
.cont5first{
    padding-left: 8rem;
}
.cont5imgtwo{
    padding-top: 1rem;
    display: flex;
}
.imgandtextcont5{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}
.lastsection{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}
.p5{
    color: grey;
}
.cont6span{
    color: grey;
}
.generalcont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont6{
    padding: 2rem;
}
.section2{
    background-color: #232529;
}
.h3a{
    color: white;
}
.somuch{
    color: grey;
}
.p6{
    color: white;
}
.sectiontwoimgone{
    width: 65rem;
    padding-top: 3rem;
}
.h3a{
    font-size: 3rem;
    padding-top: 6rem;
}
.p6{
    font-size: 1.5rem;
}
.contonesection2{
    padding-left: 6rem;  
}

.contthreesec{
    display: flex;
}
.imgsecthree{
    width: 20rem;

}
.contotwosection2{
    padding-left: 8rem;
}
.cta2{
    height: 20rem;
    width: 83rem;
}
.footer{
    width: 83rem;
}
@media screen and (max-width: 480px) {
    body{
        background-color: white;
    }
    .head1m{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header, .head1a{
        display: none;
    }
    .motherdiv{
        display: none;
    }
    .headdesktop{
        display: none;
    }
}